<!DOCTYPE html>
<html>
<head></head>
<body>
      <div class="partie1"><img src="/assets/undraw_Duplicate_re_d39g.png" class="image">

      </div>
      <div class="container mt-5 partie2">
        <h2>Ajouter un client</h2>
        <form >
          <div class="form-group">
            <input type="text" id="nomcl" name="nomcl" class="form-control" [(ngModel)]="client.nomcl" [ngModelOptions]="{standalone:true}" placeholder="Nom">
          </div>
          <div class="form-group">
            <input type="text" id="prenomcl" name="prenomcl" class="form-control" [(ngModel)]="client.prenomcl" [ngModelOptions]="{standalone:true}" placeholder="Prenom">
          </div>
          <div class="form-group">
            <input type="text" id="mdp" name="mdp" class="form-control" [(ngModel)]="client.mdp" [ngModelOptions]="{standalone:true}" placeholder="Numéro client">
          </div>
          <div class="form-group">
            <input type="text" id="adressecl" name="adressecl" class="form-control" [(ngModel)]="client.adressecl" [ngModelOptions]="{standalone:true}" placeholder="Adresse">
          </div>
          <div class="form-group">
            <input type="text" id="telcl" name="telcl" class="form-control" [(ngModel)]="client.telcl" [ngModelOptions]="{standalone:true}" placeholder="Numéro de téléphone">
          </div>
          <button type="submit" class="btn btn-primary" (click)="save()">Ajouter</button>
        </form>
      </div>
</body>
</html>

