body {
    background-color: white;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;

    float: right;
    transform: translate(-19%,5%);
  }
  
  h2 {
    margin-bottom:40px;
    font-size: 24px;
    text-align: center;
    color: #157D6B;
  
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input {
    height: 40px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 25px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
  }
  
  button.btn-primary{
    margin-top:10px;
    background-color: #157D6B;
    color: #ffffff;
    margin-right: 20px;
    border: 1px solid #157D6B;
  }
  button.btn-primary:hover{
    background-color: white;
    color: #157D6B;
  
  }
  .partie1{
    width: 50%;
    display: inline-block;
  }
  .image{
    width: 100%;
    transform:translate(-3%,20%);
    float: right;
  }
  .back{
    width: 50%;
  }
  .partie2{
    width: 50%;
    display: inline-block;
  }