<!DOCTYPE html>
<html>
<head></head>
<body>
      <div class="partie1"><img src="/assets/undraw_Content_re_33px.png" class="image">
      </div>
      <div class="container mt-5 partie2">
        <h2>Ajouter un article</h2>
        <form >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="ID">
          </div>
          <div class="form-group">
            <input type="text" class="form-control"  placeholder="Code">
          </div>
          <div class="form-group">
            <input type="text" class="form-control"  placeholder="Prix Unitaire">
          </div>
          <div class="form-group">
            <input type="text"class="form-control"  placeholder="Quantité">
          </div>
          <div class="form-group">
            <input type="text" class="form-control"  placeholder="Couleur">
          </div>
          <div class="form-group">
            <textarea class="form-control"  placeholder="Description"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" >Ajouter</button>
        </form>
      </div>
</body>
</html>

